@import 'vars';
@import 'global';
@import 'fonts';



//start header


.header__top-bg{    
    background-color: #eef1f3;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 100px;
}
.header__links-seller{
    padding-left: 85px;
    a{
        font-size: 15px;
        color: #676767;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    a + a{
        margin-left: 20px;
    }
}
.header__btn-seller{
    margin-right: auto;
    margin-left: 110px;
    width: 141px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    padding-top: 2px;
    font-size: 14px;
    line-height: 28px;
    background-color: $blue;
    transition: all .3s;
    &:hover{
        transform: scale(1.1);
    }
}

.header__box{
    display: flex;
    align-items: center;

}
.header__icons{
    &.active{
        display: block;
    }
    height: 100px;
    margin-top: 80px;
    display: none;
    font-size: 20px;
    color: #7e8fa1;
    font-family: 'Linearicons-Free';
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    &.notification{
        margin-left: 35px;
    }
    span{
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        text-align: center;
        line-height: 19px;
        right: 0;
        top: -14px;
        color: #fff;
        font-size: 14px;
    }
}
.notification{
    span{
        background-color: #ff6a6c;
    }
}
.message{
    span{
        background-color: #62d03b;
    }
}
.basket{
    span{
        background-color: $blue;
    }
}
.basket__box,
.message__box,
.notification__box{
    position: relative;
    transition: all .3s;
    &:hover{
        .basket__menu,
        .message__menu,
        .notification__menu{
            height: auto;
            overflow: visible;
            border-top-width: 1px;
        }
        .basket__item{
            padding: 26px;
        }
        .message__menu,
        .notification__menu{
            &-item{
                padding-top: 22px;
                padding-bottom: 22px;
            }
        }

    }
}
.basket__menu,
.message__menu,
.notification__menu{
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    width: 400px;
    border-top: 0px solid $blue;
    border-radius: 0 0 2px 2px;
    top: 140px;
    right: -15px;
    &::after{
        content: '';
        background-image: url(../images/polygon.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 28px;
        top: -10px;
        width: 20px;
        height: 21px;
    }
}
.message__menu,
.notification__menu{
    width: 370px;
    &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 30px 19px 23px;
        span{
            display: block;
            font-size: 18px;
            line-height: 28px;
            color: #000;
        }
        a{
            font-size: 15px;
            line-height: 28px;
            color: $blue;
        }
    }
    &-item{
        transition: all .3s;
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
        border-top: 1px solid #e8ebf0;
        img{
            margin-right: 15px;
            width: 40px;
            height: 40px;
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        .menu-content__adress{
            display: flex;
            justify-content: start;
            align-items: center;
            a{
                font-size: 16px;
                line-height: 20px;
                color: #333;
                font-weight: 500;
                padding-right: 15px;
                transition: all .3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            span{
                display: inline-block;
                font-size: 15px;
                line-height: 20px;
                color: $blue;
                &.message__icon{
                    font-size: 14px;
                    margin-left: auto;
                }
                &.message__icon.message__icon-noenvelope{
                    color: #747a86;
                }
            }
        }
        a{
            font-size: 15px;
            line-height: 24px;
            color: #555555;
            transition: all .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.notification__menu{
    &-item{
        img{
            margin-top: 5px;
        }
    }
    &-content{
        padding-right: 20px;
        width: 100%;
        & .notification-content__name{
            font-size: 15px;
            line-height: 16px;
            color: #747a86;
            a{
                font-size: 16px;
                line-height: 18px;
                font-weight: 500;
                color: #000;
            }
        }
        a{
            color: $blue;
        }
        span{
            font-size: 14px;
            line-height: 24px;
            color: #747a86;
        }
    }
    &-click{
        min-width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-top: 15px;
        &.lnr-heart{
            background-color: #e6f1fd;
            padding-left: 32px;
            &::before{
                color: $blue;
                text-align: center;
                left: 10px;
                top: 2px;
            }
        }
        &.lnr-bubble{
            background-color: #f1ecf9;
            text-align: center;
            &::before{
                color: #7347c1;
            }
        }
        &.lnr-cart{
            background-color: #fff0f0;
            text-align: center;
            &::before{
                color: #ff6a6c;
            }
        }
        &.lnr-star-half{
            background-color: #effaeb;
            text-align: center;
            &::before{
                color: #62d03a;
            }
        }
        &::before{
            font-size: 15px;
            line-height: 28px;
        }
    }
}

.basket__item{
    transition: all .3s;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
    border-bottom: 1px solid #e8ebf0;
    &-img{
        width: 80px;
        height: 70px;
    }
}
.basket__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 200px;
    margin-right: auto;
    padding-left: 15px;
    &-theme{
        font-size: 16px;
        line-height: 22px;
        color: #000;
        font-weight: 500;
    }
    &-label{
        position: relative;
        font-size: 15px;
        color: #7347c1;
        padding-left: 20px;
        &::before{
            content: '';
            background-image: url(../images/wp-icon.png);
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.basket__panel{
    button{
        margin-bottom: 9px;
        margin-left: 12px;
    }
    &-rec{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: #f1ecf9;
        border: none;
        cursor: pointer;
        &::before{
            font-size: 15px;
            color: #818c98;
        }
    }
    &-prise{
        a{
        font-size: 16px;
        line-height: 30px;  
        font-weight: 500; 
        color: $blue; 
        border-radius: 15px;
        padding-left: 11px;
        padding-right: 11px; 
        background-color: #e6f1fd;       
        }
    }
}
.basket__total{
    display: flex;
    align-items: center;
    padding-right: 26px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    min-height: 70px;
    span{
        padding-right: 25px;
        margin-left: auto;
    }
}
.basket__link{
    display: flex;
    align-items: center;
    height: 60px;
    a{
        background-color: $blue;
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        color: #fefefe;
        width: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
        &.basket__link-cart{
            background-color: #7347c1;
        }
    }
}
.user{
    display: none;
    &.active{
        display: block;
    }
    &__inner{
        display: flex;
    }
    &__images{
        margin-left: 32px;
        margin-right: 20px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: #eef1f3;
    }
    &__info{
        font-size: 16px;
        line-height: 24px;
    }
    &__name{
        font-weight: 500;
        color: #333;
    }
    &__money{
        color: $blue;
    }
}
.user__box{
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    transition: all .3s;
    &:hover{
        .user__menu{
            height: auto;
            overflow: visible;
            border-top-width: 1px;
            padding-top: 20px;
            padding-bottom: 20px;
            a{
                margin-top: 11px;
                margin-bottom: 11px;
            }
        }
    }
}
.user__menu{
    height: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    width: 270px;
    padding: 0px 20px;
    border-top: 0px solid $blue;
    border-radius: 0 0 2px 2px;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 1;
    li{
        transition: all .3s;
        &:hover{
            background-color: $blue;
            border-radius: 2px;
            a{
                color: #fff;
                &::before{
                    color: #fff;
                }
            }
        }
    }
    a{
        transition: all .3s;
        color: #54667a;
        font-size: 15px;
        line-height: 23px;
        padding-left: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        &::before{
            color: #54667a;
            font-size: 15px;
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
    &::after{
        content: '';
        background-image: url(../images/polygon.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 28px;
        top: -10px;
        width: 20px;
        height: 21px;
    }
}


.header__menu-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    a{
        color: #333333;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        transition: all .3s;
        &:hover{
            color: $blue;
            transform: scale(1.1);
        }
    }
}
.home__menu,
.products__menu,
.wordpress__menu{
    height: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    width: 270px;
    padding: 0px 20px;
    border-top: 0px solid $blue;
    border-radius: 0 0 2px 2px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    li{
        transition: all .3s;
        border-radius: 2px;
        &:hover{
            background-color: $blue;
            a{
                color: #fff;
                transform: none;
            }
        }
    }
    a{
        color: #54667a;
        font-size: 15px;
        font-weight: 400;
        width: 230px;
        line-height: 23px;
        padding-left: 10px;
        text-transform: none;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.pages__menu{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    width: 1140px;
    border-top: 0px solid $blue;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 80px;
    left: -428px;
    z-index: 1;
    &-martplace,
    &-dashboard,
    &-others{
        display: flex;
        flex-direction: column;
        justify-content: start;     
    }
    &-martplace{
        max-width: 435px;
        width: 100%; 
        & .pages__menu-links{
            column-count: 2;
        }   
    }
    &-dashboard{
        max-width: 162px;
        width: 100%;
    }
    &-others{
        max-width: 418px;
        width: 100%;
        & .pages__menu-links{
            column-count: 2;
        } 
    }
    &-links{
        margin-left: 0;
        margin-top: 20px;
        li{
            max-width: 200px;
            width: 100%;
            transition: all .3s;
            border-radius: 2px;
            &:hover{
                background-color: $blue;
                a{
                    color: #fff;
                    transform: none;
                }
            }
        }
        a{
            color: #54667a;
            font-size: 15px;
            font-weight: 400;
            line-height: 23px;
            padding-left: 10px;
            text-transform: none;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
    &-title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #000000;
        border-bottom: 1px solid #e8ebf0;
    }
}
.menu__list-products,
.menu__list-wordpress,
.menu__list-pages,
.menu__list-festures{
    margin-left: 28px;
}
.menu__list-home,
.menu__list-products,
.menu__list-wordpress,
.menu__list-pages,
.menu__list-festures{
    display: inline-block;
    display: flex;
    height: 80px;
    align-items: center;
    position: relative;
    transition: all .3s;
    &:hover{
        .home__menu,
        .products__menu,
        .pages__menu,
        .wordpress__menu{
            height: auto;
            overflow: visible;
            border-top-width: 1px;
            padding-top: 20px;
            padding-bottom: 20px;
            a{
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
    }
}


.header__menu-search{
    max-width: 360px;
    width: 100%;
    position: relative;
    input{
        display: block;
        width: 100%;
        height: 46px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        padding-left: 25px;
        padding-right: 70px;
        font-size: 15px;
        line-height: 30px;
        &::placeholder{
            color: $grey;
        }
    }
    button{
        width: 70px;
        height: 100%;
        background-color: $blue;
        border-radius: 23px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}


//end header
//start digital


.digital-gradient{
    background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    width: 100%;
    min-height: 726px;
  }
.digital__inner{
    padding: 185px 0px 70px;
    color: #f3f3f8;
    text-align: center;
    &-title{
        font-size: 60px;
        line-height: 70px;        
        p{
            font-weight: 700;
            margin: 0 0 50px;
        }
    }
    &-text{
        font-size: 20px;
        margin-bottom: 72px;
    }
    &-btn{
        display: flex;
        justify-content: center;
        .digital__btn{
            font-size: 16px;
            height: 55px;
            width: 190px;
            background-color: #fff;
            border-radius: 27px;
            color: #163bc2;
            padding-top: 19px;
            margin: 0 15px 0 15px;
            transition: all .3s;            
            &:hover{
                background-color: #163bc2;
                border: 1px solid #fff !important;
                color: #fff;
                transform: scale(1.1);
            }
        }       
    }
}
.digital__search{
    overflow: visible;
    position: relative;
    width: 100%;
    height: 132px;
}
.digital__box{
    height: 135px;
    width: auto;
    margin: 0 auto;
    position: absolute;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
.digital__search-low{
    left: 30px;
    right: 30px;
    bottom: -42px;
    opacity: 0.502;
    z-index: 1;
}
.digital__search-medium{
    left: 15px;
    right: 15px;
    bottom: -54px;
    opacity: 0.502;
    z-index: 1;
}
.digital__search-hi{
    left: 0px;
    right: 0px;
    bottom: -66px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 2;
    padding-right: 40px;
    padding-left: 40px;    
    form{
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;        
        input{
            display: inline-block;
            height: 54px;
            font-size: 16px;
            line-height: 24px; 
            color: #676767;
        }
        button{
            border-radius: 4px;         
            background-color: $blue;            
            width: 223px;
            height: 55px; 
            border: none;   
            font-size: 16px;
            line-height: 42px;
            color: #fff;  
            margin-left: 30px;
            cursor: pointer;
            transition: all .3s;
            &:hover{
                transform: scale(1.1);
            }         
        }
    }
}
.form__field-text{
    border-radius: 4px 0 0 4px;    
    padding-left: 28px; 
    padding-right: 24px;
    max-width: 613px;
    width: 100%;
    border: 1px solid #dcdcdc;
}
.jq-selectbox__select{
    width: 195px;
    height: 54px;
    margin-right: auto;
    border-radius: 0 4px 4px 0;
    padding-left: 20px;
    padding: 0 45px 0 10px;
    border: 1px solid #dcdcdc;
    border-bottom-color: #dcdcdc;
    border-left: none;
    background: #fff;
    box-shadow: none;
    font: 16px/32px 'Quicksand', sans-serif;
    color: #555;
    text-shadow: none;
}
.jq-selectbox__select-text {
    width: 100%;
    line-height: 50px;
}
.jq-selectbox__trigger {
    top: 11px;
    border-left: none;
}
.jq-selectbox__trigger-arrow {
    border-top: none;
    border-right: none;
    border-left: none;
    &::before{
        position: absolute;
        content: "\e874";
        font-size: 12px;
        font-family: 'Linearicons-Free';
        color: #676767;
        top: -15px;
        right: 7px;
    }
}


//end digital
//start about


.about__wrapper{
    margin-top: 186px;
    display: flex;
    justify-content: space-around;
    &-box{
        max-width: 360px;
        min-height: 403px;
        text-align: center;
        padding-top: 42px;
        margin-bottom: 120px;
        &:hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
}
.about__inner-img{
    margin-bottom: 38px;
}
.about__inner-title{
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 32px;
    color: #000;
}
.about__inner-text{
    font-size: 16px;
    line-height: 30px;
    color: #555;
    padding: 0 33px 40px;
}



//end about
//start slider


.slider{
    padding: 120px 0 102px;
    background-color: #eff1f5;
}
.slider__wrapper{
    position: relative;
}
.slider__title{
    padding: 0 30px;
    background-color: #fff;
    height: 110px;
    display: flex;
    justify-content: start;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    align-items: center;
    margin-bottom: 32px;
    &-text{
        color: #000;
        font-size: 30px;
    }
}
.slider__item{
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-bg{
        min-height: 450px;
        max-width: 555px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-content{
        max-width: 585px;
        height: 100%;
        padding: 45px 60px 0 50px;
        background-color: #fff;
    }
    &-title{
        font-weight: 500;
        color: #000;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    &-user{
        margin-bottom: 30px;
        a{
            color: #000;
            vertical-align: middle;
            .avatar{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            span{
                color: #000;
            }
        }
        span{            
            font-size: 15px;
            line-height: 20px;
            color: #7347c1;           
            &.label{
                padding-left: 53px;
                position: relative;
                &::before{
                    content: '';
                    background-image: url(../images/wp-icon.png);
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 30px;
                    top: 2px;
                }
            }
        }
        .slider__item-descr{
            margin-top: 27px;
            font-size: 16px;
            line-height: 30px;
            color: #555555;
            margin-bottom: 22px;
        }        
    }
    &-btn{
        border-bottom: 1px solid #ececec;
        a{
            font-size: 15px;
            line-height: 25px;
            height: 28px;
            color: #868c96;
            padding: 0 14px 0 18px;
            background-color: #f1f3f6;
            border-radius: 14px;
            margin-right: 7px;
            margin-bottom: 40px;
        }
    }
    &-rate{
        padding-top: 22px;
        display: flex;
        justify-content: start;
        align-items: center;
        a{
            width: 100px;
            height: 32px;
            background-color: #0674ec;
            color: #fff;
            font-size: 15px;
            line-height: 30px;
            font-weight: 500;
            text-align: center;
            border-radius: 16px;
            display: block;            
        }
    }
}
.lnr-heart{
    font-size: 15px;
    color: #555555;
    padding-left: 45px;
    position: relative;
    &::before{
        font-family: 'Linearicons-Free';
        font-size: 14px;
        color: #7c53c5;
        position: absolute;
        left: 20px;
        top: 0;
    }
}
.price__cart{
    font-size: 15px;
    color: $blue;
    padding-left: 42px;
    position: relative;
    &::before{
        font-family: 'Linearicons-Free';
        font-size: 14px;
        color: #177ded;
        position: absolute;
        left: 19px;
        top: 0;
    }
}
.rate-star{
    margin-left: auto;
    display: inline-block;
}
button{
    &.slick-prev.slick-arrow,
    &.slick-next.slick-arrow{
        font-size: 0;
        border: none;
        line-height: 0;
        padding: 0;
    }
}
.slick-prev.slick-arrow::before,
.slick-next.slick-arrow::before{
    position: absolute;
    font-family: 'Linearicons-Free';
    font-size: 15px;
    line-height: 45px;
    color: #daceee;
    background-color: #7347c1;
    height: 45px;
    width: 55px;
    border: none;
    top: -110px;
}
.slick-prev.slick-arrow::before{
    content: "\e875";
    border-radius: 23px 0 0 23px; 
    right: 86px;
}
.slick-next.slick-arrow::before{
    content: "\e876";
    border-radius: 0 23px 23px 0;
    right: 31px;
}



//end slider
//start product


.products{
    background-color: #f6f7fb;
    padding-top: 120px;
}
.products__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: #fff;
    padding: 0 30px;   
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;
}
.products__wrapper-title{
    font-size: 30px;
}
.products__wrapper-filter{
    font-size: 16px;
    line-height: 32px;
    color: #747b86;
    button{
        width: 10px;
        height: 20px;
        padding-left: 18px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        outline: none;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/icons/unsorted.svg);
            width: 5px;
            height: 20px;
            right: 0;
            top: 4px;
        }

    }
}
.products__inner-btn{
    height: 92px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    background-color: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
    button{
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        color: #747b86;
        background-color: #f1f3f6;
        padding: 0 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: all .3s;
        & + button{
            margin-left: 10px;
        }
        &.mixitup-control-active{
            background-color: #0674ec;
            color: #fff;
            outline: none;
            transform: scale(1.1);
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.products__item{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    max-width: 361px;
    min-height: 530px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-images{
        width: 100%;
        height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        margin-bottom: 22px;
        &:hover{
            background-image: url(../images/product-bghov.svg) !important;
            a{
                opacity: 1;
            }
        }
        a{
            margin: 0 5px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            padding: 10px;
            width: 130px;
            text-align: center;
            background-color: #fff;
            color: #0674ec;
            border-radius: 23px;
            transition: all .3s;
            opacity: 0;
            &:hover{
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
                transform: scale(1.1);
            }
        }
    }
    &-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000;
        padding-left: 30px;
        margin-bottom: auto;
    }
    &-user{
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 16px;
        margin-bottom: auto;
        a{
            color: #000;
            vertical-align: middle;
            .products__item-avatar{
                height: 28px;
                width: 28px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            span{
                color: #000;
                padding-right: 18px;
            }
        }
        svg{
            vertical-align: middle;
        }
    }
    &-label{
        color: #7347c1;
        font-size: 15px;
        line-height: 20px;
        padding-left: 8px;
    }
    p{
        font-size: 16px;
        line-height: 30px;
        color: #555;
        margin-top: 27px;
    }
    &-rate{
        height: 61px;
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-price{
        color: #0674ec;
        font-size: 15px;
        line-height: 30px;
        padding: 0 16px;
        background-color: #e6f1fd;
        border-radius: 15px;
        margin-left: 30px;
    }
}
.price__heart{
    padding-left: 35px;
    margin-right: auto;
}
.lnr-heart.price__heart::before{
    left: 16px;
}
.price__cart{
    padding-right: 30px;
    padding-left: 76px;
}
.lnr-cart.price__cart::before{
    left: 55px;
}
.product__bottom-btn{
    text-align: center;
    padding-bottom: 120px;
    button{
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        padding: 16px 38px;
        background-color: $blue;
        border: none;
        border-radius: 27px;
        cursor: pointer;
        outline: none;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
    }
}


//end product
// start followers


.products-slider__inner .slick-prev.slick-arrow::before,
.products-slider__inner .slick-next.slick-arrow::before{
    background-color: $blue;
}


// end followers
// start statistic


.statistic{
    background-color: #212225;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;  
        height: 350px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;
        &-icon{
            font-size: 48px;
            line-height: 60px;
            padding-bottom: 30px;
        }
        &-number{
            font-size: 36px;
            line-height: 48px;
            padding-bottom: 7px;
        }
        &-text{
            font-size: 18px;
            line-height: 36px;
        }
        &-briefcase{
            .statistic__item-number,
            .lnr-briefcase{
                color: #feb71d;
            }
        }
        &-download{
            .statistic__item-number,
            .lnr-cloud-download{
                color: #58c9e9;
            }
        }
        &-smile{
            .statistic__item-number,
            .lnr-smile{
                color: #77de51;
            }
        }
        &-users{
            .statistic__item-number,
            .lnr-users{
                color: #ff6a6d;
            }
        }
    }
}


// end statistic
// start choose


.choose,
.feedback,
.news{
    background-color: #fefefe;
    &__inner{
        padding-top: 110px;
        padding-bottom: 100px;
        text-align: center;
        &-title{
            font-size: 36px;
            line-height: 48px;
            color: #000;
            margin-bottom: 25px;
            span{
                color: $blue;
            }
        }
        &-text{
            max-width: 690px;
            font-size: 16px;
            line-height: 30px;
            color: #555;
            margin-bottom: 55px;
            margin-left: auto;
            margin-right: auto;
        }
        &-items{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
.choose__item{
    max-width: 361px;
    width: 100%;
    min-height: 373px;
    margin-bottom: 30px;
    padding: 14px 20px 0 20px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    &-category{
        width: 100%;
        height: 91px;
        font-size: 48px;
        font-weight: 300;
        text-align: left;
        line-height: 48px;
        color: rgba(92, 135, 248, 0.2);
        margin-bottom: 40px;
        position: relative;
        &::before{
            position: absolute;
            text-align: center;
            font-size: 60px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &-title{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 25px;
    }
    p,
    h4,
    h5{
        font-size: 16px;
        line-height: 30px;
        color: #555;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.lnr-license::before{
    color: $blue;
}
.lnr-magic-wand::before{
    color: #7f4ec2;
}
.lnr-lock::before{
    color: #77de51;
}
.lnr-chart-bars::before{
    color: #feb71d;
}
.lnr-leaf::before{
    color: #58c9e9;
}
.lnr-phone::before{
    color: #ff6a6d;
}
  

// end choose
// start shopping


.shopping__wrapper{
    max-width: 1918px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.shopping__items{
    min-height: 561px;
    width: 99.99%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping__item{
    max-width: 540px;
    width: 100%;
    min-height: 362px;
    text-align: center;
    &-icon{
        margin-bottom: 45px;
    }
    &-title{
        font-size: 36px;
        line-height: 42px;
        color: #fff;
        margin-bottom: 35px;
        p,h4,h5{
            font-size: 16px;
            line-height: 30px;
        }
    }
    a{
        background-color: #fff;
        width: 190px;
        border-radius: 27px;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 0;
        color: #622dc0;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
        }
    }
}


// end shopping
// start feedback


.feedback{
    background-color: #fff;
}
.feedback__inner{
    padding-top: 110px;
    &-person{
        display: flex;
        justify-content: space-between;
    }
    &-btn{
        font-size: 16px;
        line-height: 24px;
        background-color: $blue;
        padding: 15px 40px;
        border-radius: 27px;
        color: #fff;
        cursor: pointer;
        transition: all .3s;
        margin-bottom: 20px;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.feedback__item{
    max-width: 555px;
    width: 100%;
    min-height: 315px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 50px 40px 0 40px;
    background-color: #fff;
    border-left: 2px solid $blue;
    margin-bottom: 60px;
    &-top{
        display: flex;
        justify-content: start;
        position: relative;
        &::after{
            position: absolute;
            content: "\e83f";
            font-family: 'Linearicons-Free';
            font-size: 60px;
            color: #e8e8e8;
            top: 0;
            right: 0;
        }
    }
    &-avatar{
        a{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 18px;
        }
    }
    &-name{
        text-align: left;
        a{
            font-size: 20px;
            line-height: 24px;
            color: #000;
            margin-top: 12px;
            margin-bottom: 12px;
            display: inline-block;
        }
        span{
            display: block;
            font-size: 16px;
            line-height: 24px;
            color: #555;
        }
    }
    p, h4, h5{
        font-size: 16px;
        line-height: 30px;
        color: #555;
        text-align: left;
    }
}


// end feedback
// start news


.news{
    background-color: #eff1f5;
    &__inner{
        padding-top: 110px;
        padding-bottom: 100px;
    }
}
.news__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 361px;
    min-height: 475px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-images{
        width: 100%;
        height: 230px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 25px;
    }
    &-title{
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: #000;
        padding-left: 30px;
        text-align: left;
        margin-bottom: auto;
        p{
            font-size: 16px;
            line-height: 30px;
            color: #555;
            margin-top: 20px;
        }
    }
    &-rate{
        height: 61px;
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a,
        span{
            font-size: 15px;
            line-height: 30px;
            color: #7e7e7e;
            position: relative;
        }
        span{
            padding-right: 30px;
            padding-left: 56px;
            &::before{
                content: "\e81b";
                font-family: 'Linearicons-Free';
                position: absolute;
                top: 0;
                right: 60px;
            }
        }
    }
}
.news-rate__data{
    padding-left: 53px;
    &::before{
        content: "\e864";
        font-family: 'Linearicons-Free';
        position: absolute;
        color: $blue;
        top: 0;
        left: 30px;
    }
    &::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 40px;
        background-color: #ececec;
        top: -6px;
        left: 180px;
    }
}
.news-rate__message{
    margin-left: auto;
    &::before{
        content: "\e83f";
        font-family: 'Linearicons-Free';
        position: absolute;
        top: 0;
        right: 22px;
    }
}


// end news
// start support


.support{
    background-color: #fff;
    &__inner{
        width: 100%;
        height: 297px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__item{
        width: 370px;
        &-line{
            height: 100%;
            border-right: 1px solid #e8eaf3;
        }
        &-images{
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 25px;
        }
        &-title{
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            .link-guarantee{
                color: $blue;
            }
            .link-support{
                color: #7347c1;
            }
        }
    }
}


// end support
//start ready


.ready{
    width: 100%;
    height: 400px;
    &-gradient{
        width: 100%;
        height: 400px;
        background-image: linear-gradient( 240deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);

    }
    &__inner{
        padding: 100px 0;
        text-align: center;
        &-title{
            font-size: 36px;
            line-height: 48px;
            color: #fff;
            margin-bottom: 15px;
        }
        &-text{
            font-size: 18px;
            line-height: 27px;
            color: #e7e7e7;
            margin-bottom: 45px;
        }
        &-btn{
            font-size: 16px;
            line-height: 24px;
            color: $blue;
            padding: 15px 44px;
            background-color: #fff;
            border-radius: 27px;
            transition: all .3s;
            &:hover{
                background-color: transparent;
                border: 1px solid #fff;
                color: #fff;
                transform: scale(1.1);
            }
        }
    }
}


//end ready
// start footer


.footer__content{
    min-height: 525px;
    width: 100%;
    background-color: #262b30;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 100px;
}
.footer__col{
    color: #ababab;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 4px;
    ul{
        padding-top: 30px;
    }
    a{
        color: #ababab;
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    &-info{
        max-width: 270px;
        width: 100%;
    }
    &-links{
        max-width: 170px;
        width: 100%;
    }
    &-social{
        max-width: 370px;
        width: 100%;
    }
    &-logo{
        a{
            img{
                width: 163px;
                height: 40px;
            }
        } 
    }
    &-phone,
    &-email,
    &-adress{
        margin-left: 30px;
        position: relative;
        &::before{
            position: absolute;
            top: 0;
            left: -26px;
            font-size: 16px;
        }
    }
    &-email{
        margin-left: 30px;
        margin-bottom: 7px;
    }
    &-adress{
        margin-left: 30px;
        line-height: 22px;
        &::before{
            top: 50%;
            transform: translateY(-50%);
        }
    } 
    &-title{
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        padding-top: 12px;
    }
    form{
        max-width: 360px;
        width: 100%;
        position: relative;
        margin-top: 25px;
        margin-bottom: 18px;
        input{
            display: block;
            width: 100%;
            height: 46px;
            border: none;
            border-radius: 23px;
            padding-left: 30px;
            padding-right: 125px;
            font-size: 15px;
            line-height: 30px;
            outline: none;
        }
        button{
            width: 110px;
            height: 100%;
            background-color: $blue;
            border-radius: 23px;
            border: none;
            position: absolute;
            color: #fff;
            outline: none;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
}
.footer__social-link{
    li{
        display: inline-block;
    }
    li + li{
        margin-left: 10px;
    }
}
.fab{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 400;
}
.fa-facebook-f{
    background-color: #395799;
}
.fa-twitter{
    background-color: #19b2f5;
}
.fa-google{
    background-color: #f05b44;
}
.fa-pinterest-p{
    background-color: #9c0c1c;
}
.fa-linkedin-in{
    background-color: #0da6be;
}
.fa-dribbble 
{
    background-color: #ea4c89;
}
.footer__copy{
    height: 94px;
    width: 100%;
    background-color: #192027;
    color: #999;
    text-align: center;
    padding: 37px 0;
}


// end footer


  