@import 'vars';
@import 'global';
@import 'fonts';



//start header


.header__top-inner{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 100px;
}
.header__top-bg{    
    background-color: #eef1f3;
}
.header__btn-seller{
    margin-left: auto;
    width: 141px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    padding-top: 2px;
    font-size: 14px;
    line-height: 28px;
    background-color: $blue;
}
.header__menu-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 28px;
        }
    }
    a{
        color: #333333;
        text-transform: uppercase;
        font-style: 15px;
        line-height: 42px;
        font-weight: 500;
    }
}
.header__menu-search{
    width: 360px;
    position: relative;
    input{
        display: block;
        width: 100%;
        height: 46px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        padding-left: 25px;
        padding-right: 70px;
        font-size: 15px;
        line-height: 30px;
        &::placeholder{
            color: $grey;
        }
    }
    button{
        width: 70px;
        height: 100%;
        background-color: $blue;
        border-radius: 23px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}


//end header
//start digital


.digital{
    background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    width: 100%;
    min-height: 726px;
  }
.digital__inner{
    padding: 185px 0px 70px;
    color: #f3f3f8;
    text-align: center;
    &-title{
        font-size: 60px;
        line-height: 70px;        
        p{
            font-weight: 700;
            margin: 0 0 50px;
        }
    }
    &-text{
        font-size: 20px;
        margin-bottom: 72px;
    }
    &-btn{
        display: flex;
        justify-content: center;
        .digital__btn{
            font-size: 16px;
            height: 55px;
            width: 190px;
            background-color: #fff;
            border-radius: 27px;
            color: #163bc2;
            padding-top: 19px;
            margin: 0 15px 0 15px;
            transition: all .3s;            
            &:hover{
                background-color: #163bc2;
                border: 1px solid #fff !important;
                color: #fff;
            }
        }       
    }
}
.digital__search{
    overflow: visible;
    position: relative;
    width: 100%;
    height: 132px;
}
.digital__box{
    height: 135px;
    width: auto;
    margin: 0 auto;
    position: absolute;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
.digital__search-low{
    left: 30px;
    right: 30px;
    bottom: -42px;
    opacity: 0.502;
    z-index: 1;
}
.digital__search-medium{
    left: 15px;
    right: 15px;
    bottom: -54px;
    opacity: 0.502;
    z-index: 1;
}
.digital__search-hi{
    left: 0px;
    right: 0px;
    bottom: -66px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 2;
    padding-right: 40px;
    padding-left: 40px;    
    form{
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;        
        input{
            display: inline-block;
            height: 54px;
            font-size: 16px;
            line-height: 24px; 
            color: #676767;
        }
        button{
            border-radius: 4px;         
            background-color: $blue;            
            width: 223px;
            height: 55px; 
            border: none;   
            font-size: 16px;
            line-height: 42px;
            color: #fff;  
            margin-left: 30px;         
        }
    }
}
.form__field-text{
    border-radius: 4px 0 0 4px;    
    padding-left: 28px; 
    padding-right: 24px;
    max-width: 613px;
    width: 100%;
    border: 1px solid #dcdcdc;
}
.form__field-list{
    max-width: 195px;
    width: 100%;
    margin-right: auto;
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    border-left: none;
    padding-left: 20px;
}


//end digital
//start about


.about__wrapper{
    margin-top: 186px;
    display: flex;
    justify-content: space-around;
    &-box{
        max-width: 360px;
        min-height: 403px;
        text-align: center;
        padding-top: 42px;
        margin-bottom: 120px;
        &:hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
}
.about__inner-img{
    margin-bottom: 38px;
}
.about__inner-title{
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 32px;
    color: #000;
}
.about__inner-text{
    font-size: 16px;
    line-height: 30px;
    color: #555;
    padding: 0 33px 40px;
}



//end about
//start slider


.slider{
    padding: 120px 0 102px;
    background-color: #eff1f5;
}
.slider__wrapper{
    position: relative;
}
.slider__title{
    padding: 0 30px;
    background-color: #fff;
    height: 110px;
    display: flex;
    justify-content: start;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    align-items: center;
    margin-bottom: 32px;
    &-text{
        color: #000;
        font-size: 30px;
    }
}
.slider__item{
    height: 450px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    &-bg{
        min-height: 450px;
        max-width: 555px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-content{
        max-width: 585px;
        height: 100%;
        padding: 45px 60px 0 50px;
        background-color: #fff;
    }
    &-title{
        font-weight: 500;
        color: #000;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    &-user{
        margin-bottom: 30px;
        a{
            color: #000;
            vertical-align: middle;
            .avatar{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            span{
                color: #000;
            }
        }
        span{            
            font-size: 15px;
            line-height: 30px;
            color: #7347c1;           
            &.label{
                padding-left: 53px;
                position: relative;
                &::before{
                    content: '';
                    background-image: url(../images/wp-icon.png);
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 30px;
                    top: 2px;
                }
            }
        }
        .slider__item-descr{
            margin-top: 27px;
            font-size: 16px;
            line-height: 30px;
            color: #555555;
            margin-bottom: 22px;
        }        
    }
    &-btn{
        border-bottom: 1px solid #ececec;
        a{
            font-size: 15px;
            line-height: 25px;
            height: 28px;
            color: #868c96;
            padding: 0 14px 0 18px;
            background-color: #f1f3f6;
            border-radius: 14px;
            margin-right: 7px;
            margin-bottom: 40px;
        }
    }
    &-rate{
        padding-top: 22px;
        display: flex;
        justify-content: start;
        align-items: center;
        a{
            width: 100px;
            height: 32px;
            background-color: #0674ec;
            color: #fff;
            font-size: 15px;
            line-height: 30px;
            font-weight: 500;
            text-align: center;
            border-radius: 16px;
            display: block;            
        }
    }
}
.lnr-heart{
    font-size: 15px;
    color: #555555;
    padding-left: 45px;
    position: relative;
    &::before{
        font-family: 'Linearicons-Free';
        font-size: 14px;
        color: #7c53c5;
        position: absolute;
        left: 20px;
        top: 0;
    }
}
.lnr-cart{
    font-size: 15px;
    color: $blue;
    padding-left: 42px;
    position: relative;
    &::before{
        font-family: 'Linearicons-Free';
        font-size: 14px;
        color: #177ded;
        position: absolute;
        left: 19px;
        top: 0;
    }
}
.rate-star{
    margin-left: auto;
    display: inline-block;
}
button{
    &.slick-prev.slick-arrow,
    &.slick-next.slick-arrow{
        font-size: 0;
        border: none;
        line-height: 0;
        padding: 0;
    }
}
.slick-prev.slick-arrow::before,
.slick-next.slick-arrow::before{
    position: absolute;
    font-family: 'Linearicons-Free';
    font-size: 15px;
    line-height: 45px;
    color: #daceee;
    background-color: #7347c1;
    height: 45px;
    width: 55px;
    border: none;
    top: -110px;
}
.slick-prev.slick-arrow::before{
    content: "\e875";
    border-radius: 23px 0 0 23px; 
    right: 86px;
}
.slick-next.slick-arrow::before{
    content: "\e876";
    border-radius: 0 23px 23px 0;
    right: 31px;
}



//end slider
//start product





//end product


  